<!DOCTYPE html>
<html lang="en">
<head>
	<title>Student Portal - UIT</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="C:\Users\pc\Desktop\project\images\uit.png"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/fonts/iconic/css/material-design-iconic-font.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/login.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST" action="">
					{{ form.hidden_tag() }}
					<div class="row login-row">
						<div class="col-md-12 login-col">
					<span class="login100-form-logo">
						<img src="https://www.uit.edu/assets/images/newUITLogo47.png" alt="" height="105px" >
					</span>

					<br><br><span class="login100-form-title p-b-20 p-t-27">
						Student Portal Login
					</span><br><br>
							<div class="wrap-input100 validate-input" data-validate = "Enter email">
							{% if form.email.errors %}
								{{ form.email(class="input100 form-control-lg is-invalid",placeholder="Email") }}
								<span class="focus-input100" data-placeholder="&#xf207;"></span>
								<div class="invalid-feedback">
									{% for error in form.email.errors%}
										<span> {{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.email(class="input100",placeholder="Email") }}
								<span class="focus-input100" data-placeholder="&#xf207;"></span>
							{% endif %}
							</div>

							<div class="wrap-input100 validate-input" data-validate = "Enter password">
							{% if form.password.errors %}
								{{ form.password(class="input100 form-control-lg is-invalid",placeholder="Password") }}
								<span class="focus-input100" data-placeholder="&#xf191;"></span>
								<div class="invalid-feedback">
									{% for error in form.password.errors%}
										<span> {{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.password(class="input100",placeholder="Password") }}
								<span class="focus-input100" data-placeholder="&#xf191;"></span>
							{% endif %}
							</div>
						</div>
		​               <div class="form-check">
							{{ form.remember(class="form-check-input") }}
							{{ form.remember.label(class="form-check-label") }}
						</div>
					</div>
					<span>

					{{ form.submit(class="btn btn-outline-info signin-btn") }}
						<small class="text-muted ml-2">
						<a href="#">Forgot Password?</a>
						</small>
					</span>
				</form>
			</div>
		</div>
	</div>


</body>
</html>